<div class="text-center mt-5 mb-3 footer">
    <a href="https://www.linkedin.com/in/christopher-soetaert-54028158/" target="_blank" class="text-white text-center mr-2">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/scoomDev" target="_blank" class="text-white text-center mr-2">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://www.instagram.com/scoomarts/" target="_blank" class="text-white text-center">
        <i class="fab fa-instagram"></i>
    </a>
</div>
<p class="mt-3">Copyright &copy; {{year | date:['yyyy']}} - Tout droit réservé à Scoomdev.</p>