@import 'variables-custom';
@import 'bootstrap-custom';

html,
body {
  background-color: $dark;
  color: $light;
}

hr {
  background-color: $light;
}

@media screen and (max-width: 450px) {
  h1.display-3 {
    font-size: 3rem;
  }
}
