<div class="div bg-gradient"></div>
<div class="container">
  <div class="contact-box d-flex justify-content-center align-items-center">
    <div class="card bg-secondary">
      <div class="card-body text-center">
          <h1 class="card-title display-3 mb-5 text-center text-primary text-uppercase">Contact</h1>
          <p class="card-text">
            <i class="fas fa-at"></i> -
            <a href="mailto:soetaert.chris@gmail.com">soetaert.chris@gmail.com</a>
          </p>
          <p class="card-text">
            <i class="fas fa-mobile-alt"></i> - 06 31 59 43 59</p>
          <p class="card-text">
            <i class="fab fa-linkedin-in"></i> -
            <a href="https://www.linkedin.com/in/christopher-soetaert-54028158/" target="_blank">mon linkedin</a>
          </p>
          <p class="card-text">
            <i class="fab fa-github"></i> -
            <a href="https://github.com/scoomDev" target="_blank">mon github</a>
          </p>
      </div>
    </div>
  </div>

</div>
<app-brands-follow></app-brands-follow>