.brands-follow {
    position: fixed;
    display: flex;
    justify-content: center;

    width: 100%;
    bottom: 0;

    z-index: 100;

    .brand-box {
        display: block;
        position: relative;
        text-align: center;
        width: 30px;
        height: 50px;
        transform: translate3d(0, 20px, 0);
        transition: transform 0.3s ease-in-out;
        
        &.linkedin {
            background-color: #0077b5;
        }
        &.github {
            background-color: #282828;
        }
        &.instagram {
            background-color: #cd486b;
        }

        &:hover {
            transform: translate3d(0, 0, 0);
        }
    }
}