<div class="brands-follow">
  <a href="https://www.linkedin.com/in/christopher-soetaert-54028158/" target="_blank" class="brand-box linkedin text-white text-center">
      <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/scoomDev" target="_blank" class="brand-box github text-white text-center">
      <i class="fab fa-github"></i>
  </a>
  <a href="https://www.instagram.com/scoomarts/" target="_blank" class="brand-box instagram text-white text-center">
      <i class="fab fa-instagram"></i>
  </a>
</div>