<div class="div bg-gradient"></div>
<main class="cover">
  <article class="container">
    <h1 class="mb-3">Hey ! Bienvenue sur
      <span class="text-primary text-uppercase">Scoomdev</span>
    </h1>
    <p class="lead">
      Je m'appelle <b>Christopher Soetaert</b> et je suis diplômé "Chef de projet multimédia, spécialité développement". Ici, je vais te présenter les
      projets que j'ai réalisé jusqu'à présent. N'hésites pas à me contacter si tu souhaites en discuter ou si tu as un projet à me proposer.
    <a href="mailto:soetaert.chris@gmail.com" class="text-muted">soetaert.chris@gmail.com</a></p>
    <a routerLink="/workList" class="btn btn-secondary btn-lg mt-2">voir mon travail</a>
  </article>
</main>
<app-brands-follow></app-brands-follow>